.contact-info {
	display: inline-block;
	float: left;
	width: 50%;
}

.contact-form {
	display: inline-block;
	padding-left: 5%;
}

.contact-name {
	font-size: 45pt;
}

.contact-info p {
	margin-bottom: 2px;
}

.contact-photo {
	padding-top: 25px;
	width: 85%;
	float: left;
}